/*Logan Mothersbaugh 5/9*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-color: #1e1e1e;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	width: 80%;
	text-align: center;
}

.Title {
	color: #4da6ff;

	
}

.link {
	color: #white;

}

nav {
    margin-top: 5px;
	grid-column: 2/3;
	grid-row: 4/5;
	background-color: #C8A2C8;
	text-align: center;
	color: #1E1E1E;
	
}

nav ul {
    list-style-type: none;
    display: flex;
	flex-direction: column;
    justify-content: center;
    gap: 10px;
	
}

nav a {
    text-decoration: none;
	
}
